
<!doctype html>
<html lang="en">
    <head>

        <meta charset="utf-8">
        <title>Dummy Load</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="stylesheets/bootstrap.css" rel="stylesheet" type="text/css"/>
		
		 <style>
            body{
                background-image: url("images/retina_wood.png");
                overflow:hidden;
            }
            
            .jumbotron {
              background-color: #eee;
              border-style: solid;
              border-color: #fff;
              border-width: 20px;
              max-height: 770px;
			  min-height: 770px;
            }
            
            .batt-container {
                margin-top: -200px;
                margin-left: 400px;
                padding-top: 0px;
                /*background-color: #beb*/
              }
            .vertical {
              display: inline-block;
              width: 25%;
              height: 105px;
              border: 5px solid #000000;
              -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
              transform: rotate(-90deg);
              box-shadow: inset 0px 4px 6px #ccc;
            }

            .vertical:before {
              content:"";
              width: 15px;
              height: 40px;
              background-color:#000000;
              margin-top: 30px;
              margin-left: 225px;
              border: 0px solid #f1f1f1;
              position:absolute;
              border-bottom-right-radius: 2px;
              border-top-right-radius: 2px;
            }

            .progress-bar {
              box-shadow: inset 0px 4px 6px  rgba(100,100,100,0.5);
            }

            p.rotate {
              font-size:30px;
              padding-left:40px;
              padding-top:30px;
              -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
              transform: rotate(90deg);
            }
            
            .thin{
                position:relative;
                left: 18px;
            }
            
            .mono{
                position:relative;
                left: 32px;
            }
            
            .inverter{
                position:relative;
                left: 650px;
                top: -200px;
            }
        </style>

    </head>
    <body>
			
		<script src="javascripts/jquery/jquery.js" type="text/javascript"></script>
        <script src="javascripts/bootstrap.js" type="text/javascript"></script>
        <script>
            $(document).ready(function(){
                $('[data-toggle="popover"]').popover();   
            });
			
		$(document).ready(function(){
			$( "#btn" ).click(function() {
			  $( "#test" ).toggle();
			});
		});
        </script>
	
        <div class="container-fluid">
                <nav class="navbar navbar-default">
                  <div class="container-fluid">
                    <div class="navbar-header">
                      <a class="navbar-brand" href="#">Solar Charging Station</a>
                    </div>
                    <div>
                      <ul class="nav navbar-nav">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Components</a></li>
                        <li class="active"><a href="#">Experiments</a></li>
                      </ul>
                    </div>
                  </div>
                </nav>
            <div class="row">
                <div class="col-md-2">
                    <div class="jumbotron">
                        <div class="text-center">
                        <div class="btn-group-vertical" data-toggle="buttons">
                            <label class="btn btn-primary btn-lg"  id="btn">
                              <input type="checkbox"> Intensity
                            </label>
                            <br>
                            <label class="btn btn-primary btn-lg">
                              <input type="checkbox"> Temperature
                            </label>
                            <br>
                            <label class="btn btn-primary btn-lg">
                              <input type="checkbox"> Shading
                            </label>
							<h2>text</h2>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="jumbotron">
                       <div class="Diagram">  
					   
                            <img src="images/poly.png" width="137" height="279" alt="" data-toggle="popover" title="Poly Crystalline Module" data-placement="top" data-content="Voltage: 23V Current: 2A"/>
                            <img class="thin" src="images/thinfilm.png" width="137" height="279" alt="" data-toggle="popover" title="Thin Film Module" data-placement="top" data-content="Voltage: 26V Current: 21A"/>
                            <img class="mono" src="images/mono.png" width="137" height="279" alt="" data-toggle="popover" title="Mono Crystalline Module" data-placement="top" data-content="Voltage: 26V Current: 21A"/>
                            <br>
                            <img src="images/cc2.gif" alt=""/>
                            <div class="batt-container">
                                <div class="progress vertical">
                                    <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%"><p class="rotate">90%</p></div>  
                                </div>
                            </div>
                            <img id="test" class="inverter" src="images/inverter.gif" width="156" height="258" alt=""/>
							
                       </div>               
                    </div>
                </div>
            </div>
        </div>
	
	
<div class="dummyLoadDiv">
<form name="dummyLoadForm" id"dummyLoadForm" class="dummyLoadForm" action="/dummyLoad" method="post">

        <script>
				var recordDataItem;

					
			var recordsocket = io.connect('http://127.0.0.1:1337');

			recordsocket.on('connect', function (data) {
				//	console.log('record client connected ');
				//	console.log('record connected data ' + data);
			
				jQuery(function ($) {
					recordsocket.on('updateData', function (data) {
						// console.log('record update raw: ' + data);
						
							recordDataItem = JSON.parse(data);
						 	console.log('record updateData.T_mono  ' + recordDataItem.T_mono);						 	console.log('record updateData.T_mono  ' + recordDataItem.T_mono);
						 	console.log('record updateData.T_thin  ' + recordDataItem.T_thin);
						 	console.log('record updateData.t_poly  ' + recordDataItem.T_poly);
						 	console.log('record updateData.U_mono  ' + recordDataItem.U_mono);
						 	console.log('record updateData.U_thin  ' + recordDataItem.U_thin);
						 	console.log('record updateData.U_poly  ' + recordDataItem.U_poly);
						 	console.log('record updateData.I_mono  ' + recordDataItem.I_mono);
						 	console.log('record updateData.I_thin  ' + recordDataItem.I_thin);
						 	console.log('record updateData.I_poly  ' + recordDataItem.I_poly);
						 	console.log('record updateData.P_mono  ' + recordDataItem.P_mono);
						 	console.log('record updateData.P_thin  ' + recordDataItem.P_thin);
						 	console.log('record updateData.P_poly  ' + recordDataItem.P_poly);

					});	
			
				});
			});	
		
		
		
		
var mouseIsDown = "false";
var DLframeToPlay = 0;
var DLnumFrames = 201;
var DLcurrentValue = 0;
		//setup a variable to store our last position
var last_position = {},
$output       = $('#output');

            //Instantiate and get the instance from the element's data-spriteClip property
            var DLinstance = $(".DLawesome-button").spriteClip({
                totalFrames: DLnumFrames,
                frameRate: 60,
                stops: [DLnumFrames, 0]
            }).data("spriteClip");

            DLinstance.$el

                .on("touchstart", function () {
	//				console.log('mouse down');
					mouseIsDown = "true";
					DLlast_position = {
						x : event.touches[0].clientX,
						y : event.touches[0].clientY
											
					}
				})
			
				$(".DLawesome-button").on('touchmove', function (TouchEvent) {

//					console.log('mouse move');
					if ( mouseIsDown === "true" ) {
//										console.log('mouseIsDown == true');

					//check to make sure there is data to compare against
					if (typeof(DLlast_position.x) != 'undefined' ) {
					//get the change from last position to this position
					var deltaX = DLlast_position.x - event.touches[0].clientX,
						deltaY = DLlast_position.y - event.touches[0].clientY;

DLframeToPlay = Math.floor(DLframeToPlay + deltaY);
if 	(DLframeToPlay > DLnumFrames) DLframeToPlay = DLnumFrames;		
if 	(DLframeToPlay < 1) DLframeToPlay = 1;		
DLinstance.gotoAndStop(DLframeToPlay);

				}
				} else {
//					console.log('mouseIsDown != true ');
				}
							//set the new last position to the current for next time
					DLlast_position = {
						x : event.touches[0].clientX,
						y : event.touches[0].clientY
					}
            
			})
			
                .on("touchend", function () {
					mouseIsDown = "false";
                    DLinstance.stop();
					event.preventDefault();
	//				console.log('client dummyLoad: '+DLinstance.currentFrame);
					var posting = $.post( '/dummyLoad', { dummyLoadValue: DLinstance.currentFrame } );
					DLvalueText =  +(Math.round(DLcurrentValue +"e+1")+"e-1");
					$(".DLcurrentValue span").text(DLvalueText+" %")
				posting.done(function( data ) {
//						console.log('client post done ');
					})
                });

            DLinstance.$dispatcher
                .on(SpriteClip.Event.ENTER_FRAME, function (e, clip) {
					DLcurrentValue = ((DLinstance.currentFrame-1)/DLnumFrames)*100;

					DLvalueText =  +(Math.round(DLcurrentValue +"e+1")+"e-1");
					$(".DLcurrentValue span").text(DLvalueText+" %");
                    $(".DLcurrentFrame span").text(DLinstance.currentFrame);
                });
							
				
				$('#DLupButton').click(function(TouchEvent){
					// keep from having the button make the post request
				  	event.preventDefault();

					if 	(+DLinstance.currentFrame < +DLnumFrames) {

		//								console.log('client dummyLoad BUTTON: '+DLinstance.currentFrame);
					DLinstance.nextFrame();

					
					var posting = $.post( '/dummyLoad', { dummyLoadValue: DLinstance.currentFrame } );
					
					DLcurrentValue = ((DLinstance.currentFrame-1)/DLnumFrames)*100;
					DLvalueText =  +(Math.round(DLcurrentValue +"e+1")+"e-1");
					$(".DLcurrentValue span").text(DLvalueText+" %");
                    $(".DLcurrentFrame span").text(DLinstance.currentFrame);
					posting.done(function( data ) {
	//					console.log('client dummyLoad post done ');
					});
					};
				});
			$('#DLdownButton').click(function(TouchEvent){
			  	// keep from having the button make the post request
				event.preventDefault();

				if 	(DLinstance.currentFrame > 1) {

					DLinstance.prevFrame();
					
					DLcurrentValue = ((DLinstance.currentFrame-1)/DLnumFrames)*100;

	//				console.log('client dummyLoad BUTTON: '+DLcurrentValue);
					
					var posting = $.post( '/dummyLoad', { dummyLoadValue: DLinstance.currentFrame } );										
				
					DLvalueText =  +(Math.round(DLcurrentValue +"e+1")+"e-1");
					$(".DLcurrentValue span").text(DLvalueText+" %");
                    $(".DLcurrentFrame span").text(DLinstance.currentFrame);
					posting.done(function( data ) {
	//					console.log('client dummyLoad post done ');
					});
				};
			});		
					
				
function fixPageXY(e) {
  if (e.pageX == null && e.clientX != null ) {
    var html = document.documentElement
    var body = document.body
 
    e.pageX = e.touches[0].clientX + (html.scrollLeft || body && body.scrollLeft || 0)
    e.pageX -= html.clientLeft || 0
    e.pageY = e.touches[0].clientY + (html.scrollTop || body && body.scrollTop || 0)
    e.pageY -= html.clientTop || 0
  }
}

				
				
        </script>
 </form>
	</div>
    </body>
</html>
